<section class="section-cards">
    <div class="row align-items-center">
        <div class="card" style="width: 18rem;">
            <img src="./assets/img/25677.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Solo cambios por talle</h5>
                <p class="card-text">Aceptamos solo cambio por talle del mismo producto, en caso de no haber stock del producto o ser talle único NO se cambia, el envío es a cargo del comprador y dispone de 12 dias para hacer el cambio.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="./assets/img/44266.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Envíos en todo Argentina</h5>
                <p class="card-text">Envíos por OCA, correo argentino, Andreani.</p>
            </div>
        </div>
        <div class="col-sm-3" style="width: 18rem;">
            <img src="./assets/img/44412.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Métodos de pago</h5>
                <p class="card-text">Se aceptan todas las tarjetas, transferencia bancaria, mercado pago.</p>
            </div>
        </div>
    </div>
</section>
