<div class="container-fluid galery" id="Galery">
    <div class="container">
        <img src="./assets/img/sabana_U416NE_1.jpg" class="rounded mx-auto d-block" alt="...">
        <img src="./assets/img/sabana_U151NE_1.jpg" class="rounded mx-auto d-block" alt="...">
        <img src="./assets/img/sabana_V601CD_1.jpg" class="rounded mx-auto d-block" alt="...">
    </div>
</div>
