<footer>
    <a href="tel:02645632899">Llamanos </a>
    <a href="lummiaindumentaria@gmail.com">Contactanos </a>
    <a href="https://wa.me/XXXXXXXXXX">Hablanos por Whatsapp </a>
    <a href="https://instagram.com">Instagram</a>
</footer>
